.smoke-block{
  margin: 0 1% 1%;
  padding: (30em/16);
  background-position: center;
  background-repeat: no-repeat;
  background-color:#f2f9fc;
  background-size:contain;
  min-height:(70em/16);
  border: solid 1px #ccc;
  border-radius: 10px;
  opacity: 0.5;
  box-sizing: content-box;

  a {
    text-decoration: none;
  }

  blockquote {
    border-left: 2px solid #999 !important;
    color: #292f33 !important;
  }
}

.smoke-twitter{
  background-image: url("../placeholders/twitter.svg");
}

.smoke-instagram{
  background-image: url("../placeholders/instagram.svg");
}

.smoke-youtube{
  background-image: url("../placeholders/youtube.svg");
}

.smoke-vine{
  background-image: url("../placeholders/vine.svg");
}
.smoke-facebook{
  background-image: url("../placeholders/facebook.svg");
}

.smoke-soundcloud{
  background-image: url("../placeholders/soundcloud.svg");
}

.smoke-googlemap{
  background-image: url("../placeholders/new-google-maps-logo.png");
}

.smoke-scribd{
  background-image: url("../placeholders/scribd.svg");
}

.smoke-datafactory{
  background-image: url("../placeholders/datafactory.png");
}

.smoke-waze{
  background-image: url("../placeholders/logo_waze.svg");
}

.smoke-radiocut{
  background-image: url("../placeholders/radiocut.png");
}


.related-content-block {
  line-height: 2em;

  .links-related > span{
    position: absolute;
  }
  .links-related .link-container {
    margin-left:105px;
  }

  .react-autosuggest__container {
    display: block;
    padding-left: 105px;

    .react-autosuggest__input {
      font: inherit;
      border:none;
      color: #999;
      width: 100%;
    }
    .react-autosuggest__input:focus {
      outline: none;
    }
  }


  .react-autosuggest__suggestions-container {

    margin-left: 105px;
    position: absolute;
    left: 0;
    background: #fff;

    ul {
      /* border:1px solid #eee; */
      margin: 0;
      padding: 0;
      list-style: none;
      li.react-autosuggest__suggestion {
        color: #0669de;
        border-bottom: 1px solid #eee;
        padding: 0 10px;
        cursor: pointer;
        span {
        }
      }

      li.react-autosuggest__suggestion--focused {
        background: #eee;
      }
    }


  }

  .related-tag-articles {
    article {
      background: #eeeeee;
      padding: 10px 20px;

      h3 {
        margin: 0;

      }
    }

  }


}