.smoke-twitter-block{
  margin: 0 1% 1%;
  padding: (10em/16);
  background: url("../placeholders/twitter-bird.svg") no-repeat #f2f9fc;
  background-position: center;
  background-size:25%;

  a {
    color: #1b95e0;
    text-decoration: none;

    &:hover, &:active, &:focus{
      color: #1b95e0;
    }
  }

  blockquote {
    border-left: 2px solid #999 !important;
    color: #292f33 !important;
  }
}


.related-content-block {

  .react-autosuggest__container {
    display: inline;

    .react-autosuggest__input {
      font: inherit;
      border:none;
      color: #999;
    }
    .react-autosuggest__input:focus {
      outline: none;
    }
  }
}